
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	border: 0;
}

/*----------------------------*/
/*-----CLASSES AUXILIARES-----*/
/*----------------------------*/

.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
	height: 100%;
}

.selected{
	font-weight: bold;
}

.w50{
	width: 50%;
	display: flex;
}

/*----------------*/
/*-----HEADER-----*/
/*----------------*/

header.bg-capa{
	position: relative;
	background-image: url('../img/capa.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 90vh;
	max-height: 700px;
}

div.container > div.logo{
	position: relative;
	z-index: 10;
}

div.container > nav{
	position: relative;
	z-index: 10;
}

div.bg-bar{
	position: absolute;
	background: rgba(49, 27, 146, 0.8);
	width: 100%;
	height: auto;
	padding: 40px 0;
	z-index: 2;
}

/*-----LOGO-----*/

div.logo{
	float: left;
}

div.logo img{
	margin: 20px 0; 
	width: 200px;
	height: 30px;
}
/*-----NAV-----*/

nav.desktop ul{
	padding: 30px 0;
	float: right;
	list-style-type: none;
	display: flex;
}

nav.desktop li{
	margin: 0 30px;
}

nav.desktop ul li a{
	text-decoration: none;
	color: white;
}

nav.mobile{
	display: none;
}

div.icon-bar{
	display: none;
}

/*--------------------------*/
/*-----DIV CHAMADA-TEXT-----*/
/*--------------------------*/

header > .container{
	position: relative;
}

div.chamada-text{
	position: absolute;
	bottom: 200px;
	right: 200px;
	width: 500px;
}

div.chamada-text h2{
	font-size: 40px;
	font-weight: 300;
	color: white;
}

div.chamada-text p{
	font-size: 17px;
	color: white;
	margin-top: 15px;
	width: 400px;
	text-align: justify;
}

/*-----------------------------*/
/*-----SECTION APRESENTACAO----*/
/*-----------------------------*/

/*-----APRESENTACAO-TEXT-----*/
section.apresentacao{
	background: #311b92;
}

div.apresentacao-text{
	position: relative;
	left: 200px;
	float: left;
	color: white;
	padding: 20px 0;
}

div.apresentacao-text p{
	margin-top: 20px;
}

div.apresentacao-text li{
	list-style-position: inside;
	margin-top: 8px;
}

div.submit input{
	width: 150px;
	height: 40px;
	color: white;
	background: #ef6c00;
	border-radius: 18px;
	border: 0;
	cursor: pointer;
	margin-top: 20px;
}

div.submit input:hover{
	background: #fb8c00;
}

/*-----APRESENTACAO-BG-----*/

div.apresentacao-bg{
	position: relative;
	float: right;
	height: 300px;
	margin-top: -70px;
	/*margin-bottom: 30px;*/
}

div.apresentacao-bg img{
	position: relative;
	bottom: 0;
	right: 0;
	width: 60%;
}

/*---------------------------*/
/*-----SECTION CHAMADA-2-----*/
/*---------------------------*/

section.chamada-2{
	width: 100%;
	height: 400px;
}

div.chamada-2-text{
	padding: 60px 0;
	text-align: center;
}

div.chamada-2-text p{
	width: 60%;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
}
div.chamada-2-bg{
	position: relative;
}

div.chamada-2-bg img{
	z-index: 3;
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 10px 53px 10px rgba(0,0,0,0.75);
	border-radius: 5px;
}

/*-----------------------*/
/*-----SECTION SOBRE-----*/
/*-----------------------*/

div.sobre-empresa{
	position: relative;
	top: 160px;
	padding: 80px 0;
	width: 50%;
	float: left;
	height: 400px;
	background: rgba(91, 54, 255);
	z-index: 1;
	overflow: hidden;
}

div.sobre-empresa-text{
	position: absolute;
	width: 450px;
	padding: 100px 20px;
	right: 25px;
	color: white;
}

.sobre-empresa-text h1{
	text-align: right;
	margin-bottom: 10px;
}

/*-----SOBRE-EQUIPE-----*/
div.sobre-equipe{
	position: relative;
	padding: 170px 40px;
	top: 160px;
	float: right;
	width: 50%;
	height: 400px;
	background: white;
	z-index: 1;
	overflow: hidden;
}

div.sobre-equipe p{
	margin-top: 10px;
	float: left;
	width: 60%;
}

div.autor{
	width: 30%;
	float: left;
}

div.autor h1{
	margin: 10px 0;
}

div.autor-img{
	position: relative;
	float: left;

}

div.autor-img img{
	width: 100px;
	position: relative;
}

/*-----DIV SLIDER-BULLETS-----*/

div.slider-bullets{
	float: left;
	width: 100%;
	margin-top: 10px;
}

div.slider-bullets span{
	float: left;
	width: 12px;
	height: 12px;
	background: gray;
	border-radius: 6px;
	margin-left: 8px;
	cursor: pointer;
}

/*--------------------------------*/
/*-----SECTION BANNER-CONTATO-----*/
/*--------------------------------*/

section.banner-contato{
	margin-top: 160px;
	padding: 30px 0;
	width: 100%;
	background: #311b92;
}

div.contato{
	padding: 0 50px;
	width: 50%;
	float: left;
}

div.contato h2{
	color: white;
}

div.contato p{
	color: white;
	margin: 10px 0;
}

div.contato input[type="text"]{
	width: 100%;
	height: 40px;
	padding: 8px;
}

div.contato input[type="e-mail"]{
	width: 100%;
	height: 40px;
	margin: 15px 0;
	padding: 8px;
}

div.contato textarea{
	width: 100%;
	height: 130px;
	padding: 8px;
	resize: none;
}

div.contato input[type="submit"]{
	width: 100px;
	height: 40px;
	margin-top: 10px;
	background: #e37d00;
	color: white;
	cursor: pointer;
	border-radius: 20px;
	font-weight: bold;
}

/*-----GOOGLE-MAPS-----*/

div.google-maps{
	float: left;
	padding: 0 50px;
}

div.google-maps h2{
	color: white;
}

div.mapa{
	margin-top: 20px;
	width: 400px;
	height: 400px;
	background: white;
}

/*------------------------*/
/*-----MEDIAS SCREENS-----*/
/*------------------------*/

@media screen and (max-width: 1025px){
	div.apresentacao-text{
		float: left;
	}

	div.apresentacao-bg img{
		float: right;
		margin-top: -250px;
		margin-right: 100px;
	}
}

@media screen and (max-width: 510px){
	div.logo{
 		top: 0;
 		left: 50%;
 		transform: translateX(-50%);
	}

	nav.desktop{
		display: none;
	}

	/*chamada-2*/
	div.chamada-2-text{
		margin-top: 0px;
	}

	div.chamada-2-text h1{
		padding-top: 10px;
		width: 400px;
		text-align: center;
		display: inline-block;
	}

	div.chamada-2-text p{
		width: 400px;
	}

	div.chamada-2-bg img{
		display: none;
	}

	/*sobre*/
	div.sobre-empresa{
		position: static;
		height: auto;
		width: 100%;
	}

	div.sobre-empresa-text{
		position: static;
		padding: 0;
		text-align: center;
	}

	div.sobre-equipe{
		position: static;
		width: 100%;
	}

	div.autor{
		width: 100%;
	}

	/*contato*/
	div.contato{
		width: 100%;
	}

	div.google-maps{
		margin-top: 40px;
		width: 100%;
	}


	/*----------------*/
	/*-----MOBILE-----*/
	/*----------------*/

	div.icon-bar{
		position: relative;
		z-index: 20;
		display: block;
		float: right;
		color: white;
		font-size: 30px;
		margin: 20px 0;
		cursor: pointer;
		margin-right: 20px;
	}

	nav.mobile{
		width: calc(100% + 20px);
		display: none;
		float: right;
	}

	nav.mobile ul{
		background: #311b92; 
		width: 100%;
		margin-left: 10px;
		text-align: center;
		list-style-type: none;
	}

	nav.mobile li{
		padding: 8px 0;
		border-bottom: 2px solid black;
	}

	nav.mobile a{
		text-decoration: none;
		color: white;
	}

	/*----------------*/

	div.chamada-text{
		bottom: 20px;
		left: 10px;
	}

	div.chamada-text h2{
		font-size: 30px;
	}

	div.chamada-text p{
		font-size: 15px;
	}

	div.apresentacao-text{
		float: left;
		position: relative;
		top: 0;
		left: 50px;

	}

	div.apresentacao-bg img{
		display: none;
	}
}